/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 nov 2023, 18:05:52
    Author     : Ángel ñ
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.formAdmProducto {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonAdmProducto {
    background-color: #FF860a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonAdmProducto:hover {
    background-color: #D46B00;
}

.tableformAdmProductos {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #FF823E;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

table button {
    background-color: #FF860a;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

table button:hover {
    background-color: #D46B00;
}