/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 nov. 2023, 19:46:35
    Author     : Gabriel Mancinas
*/
.cuerpoAdmin {
    background-color: #ffe093;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenidoAdmin {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.botonAdmin {
    background-color: #FF823E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
}
